.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  align-items: center;
}

.price {
  color: grey;
  font-size: 22px;
}

.original_price {
  color: red;
  font-size: 24px;
}

.card button:hover {
  opacity: 0.7;
}
